<html>
    <body>

        <form action = "/login" method = "POST">
        <h1>Welcome to the book store!</h1>

        <b>{{msg}}</b>
        <br><br>
        Please provide your credentials: <br>
        <div>
            Login: <input type="text" name="login"> <br>
            Password: <input type="text" name="password"> <br>
            <input type="submit" value="Log in"> <br>
        </div>
        </form>
        <br>

        <form action = "/signin" method = "POST">
        Or register:
        <div>
            Name: <input type="text" name="name"> <br>
            Surname: <input type="text" name="surname"> <br>
            Login: <input type="text" name="newlogin"> <br>
            Password: <input type="text" name="newpass"><br>
            Phone number: <input type="text" name="phone"> <br>
            <input type="submit" value="Sign in"> <br>
        </div>
        </form>

        <form action = "/adminlog" method = "POST">
        Admin login:
        <div>
            Login: <input type="text" name="adminlogin"> <br>
            Password: <input type="text" name ="adminpass"> <br>
            <input type="submit" value="Log in">
        </div>
        </form>
    </body>
</html>