<html>
    <body>
        <h1>Hi, {{username}} what would you like to do?</h1>

        {% for person in people %}
        {% if person.login == username and person.charged > 0 %}
        Your owning payment is <b>£{{person.charged}}</b>. Please send it to: <br>
        <i>Book store</i> <br>
        12-34-56 <br>
        12345678 <br>
        {% endif %}
        {% endfor %}
        <br>
        {{ msg }}
        <form action = "/buy" method = "POST">
            <h3>Buy a book?</h3>
            <ul>
                {% for book in books %}
                <li>{{ book.book_id }}. {{ book.author }} - <b>{{ book.title }}</b> - £{{ book.price }} - {{ book. quantity }} left </a></li>
                {% endfor %}
            </ul>
            <div>
                Book's number: <input type="text" name="book_id"> <br>
                <input type="submit" value="Confirm your order"> <br>
            </div>
        </form>

    </body>
</html>